{{ $d := .Site.Data.servizi }}
<section id="servizi">
  <div class="s-header dusted">
    <div class="s-num">02</div>
    <div class="s-titlebox"><div class="s-label">// {{ $d.label }}</div><div class="s-title">{{ $d.title }}</div></div>
    <div class="s-toggle" aria-hidden="true">+</div>
  </div>
  <div class="section-body">
    <div class="srv-index">
      {{ range $i, $c := $d.cards }}
      <a class="srv-row" href="{{ $c.url | relURL }}">
        <div class="srv-rownum">/{{ printf "%02d" (add $i 1) }}</div>
        <div class="srv-rowtitle">{{ $c.title }}</div>
        <div class="srv-rowdesc"><em>{{ $c.pain }}</em>{{ $c.solution }}</div>
        <div class="srv-arrow">&rarr;</div>
      </a>
      {{ end }}
    </div>
  </div>
</section>
